{% extends "base_partial.html" %}

{% block page_title %}Investment Tracking{% endblock %}

{% block topbar_actions %}
<button class="btn btn-primary" onclick="openAddPortfolioModal()"><i class="ri-add-line"></i> Add Portfolio</button>
<button class="btn btn-success" onclick="openAddStockModal()"><i class="ri-add-circle-line"></i> Add Stock</button>
<button class="btn btn-info" onclick="openImportCSVModal()"><i class="ri-upload-line"></i> Import CSV</button>
<button class="btn btn-warning" onclick="openSyncModal()"><i class="ri-refresh-line"></i> Sync Trading212</button>
{% endblock %}

{% block content %}
{% include "investments/investments_content.html" %}
{% endblock %}

{% block extra_js %}{% endblock %}